body{
    background: black;
}

.container{
    display: inline-block;
    width: 550px;
    height: 750px;
    margin-top: 100px;
    margin-left: 700px;
    background: #fafafa;
}
.form-container{
    display: inline-block;
    width: 490px;
    height: 690px;
    background: #f1f1f1;
    margin-top: 30px;
    margin-left: 30px;
    justify-content: center;
}
h1{
    margin-left: 115px;
    font-size: 40px;
    color: #18bc9a;
}
span{
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #cdcecd;

}
select{
    border: none;
    width: 358px;
    height: 42px;
    margin-left: 65px;
    margin-top: 10px;
    box-shadow: 1px 1px 3px black;
    background: white;
    color: #353635
}
input{
    width: 350px;
    height: 40px;
    margin-left: 65px;
    margin-top: 10px;
    box-shadow: 1px 1px 3px black;
}
textarea{
    width: 350px;
    height: 170px;
    margin-left: 65px;
    margin-top: 10px;
    color:#cdcecd ;
    box-shadow: 1px 1px 3px black;
}
button{
    border: none;
    height: 50px;
    width: 160px;
    margin-left: 155px;
    margin-top: 15px;
    color: white;
    background:#18bc9a;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 1px 1px 3px black;
}
